{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-warning">
            <h3>Add Product</h3>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Save Product
                </button>

                <a href="{% url 'product_list' %}" class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}